<div id="e-commerce-orders" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-account"></md-icon>
                    <span>Patients Grid</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <div flex></div>
                <md-button class="md-raised text-boxed green-bg white-fg m-o hover" 
                    ng-click="vm.createNewPatient()">
                        New Patient
                </md-button>     
            </div>
        </div>  <!-- / CONTENT HEADER -->

        <!-- PATIENT GRID -->
        <md-content layout="row" flex="100" layout-wrap>

            <!-- Patient Grid table -->
            <md-table-container>
                <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                    <div class="h2">Patients</div>
                    <div class="text-boxed red-bg white-fg m-0">
                        {{vm.customerData.length}} Patients Total
                    </div>
                </div>


                <table class="dataTable row-border hover" datatable="ng">
                    <thead>
                            <!-- <th></th> -->
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Name</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">MMIC#</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">MMIC Exp.</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Phone</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Details</span>
                                </div>
                            </th>    
                    </thead>
                    <tbody>
                        <tr ui-sref="app.e-commerce.patient({customerId: vm.customerData })" ng-repeat="row in vm.customerData">
                            <td>
                                <div layout="row" layout-align="start center">
                                    <span class="name text-nowrap">
                                        {{row.customer.firstName}} {{row.customer.lastName}}
                                    </span>
                                </div>
                            </td>
                            <td>
                                {{ row.customer.mmicId }}
                            </td>
                            <td>
                                {{ row.customer.mmicExpiration | date:'MM/dd/yy h:mma' }}
                            </td>
                            <td>
                                {{ row.customer.phone }}
                            </td>
                            <td>
                                <md-button class="edit-button md-icon-button" 
                                ng-click="vm.gotoPatientDetail(row.orderId)" aria-label="Patient details">
                                    <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </md-table-container>   <!-- Patient Grid table -->
        </md-content>    <!-- PATIENT GRID -->

    </div>  <!-- CENTER -->
</div>