<div id="dashboard-project" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="md-display-1 font-weight-300">Admin Dashboard{{ vm.app.dashboards_project.companyName }}!</span>
                </div>

                <div class="toolbar">
                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md aria-label="Toggle sidenav">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <!-- SUMMARY TAB -->
                <md-tab label="Summary">

                    <!-- DASHBOARD WIDGET CARDS -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- Today's Sales -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">Today's Sales</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="green-fg font-size-60 line-height-72">
                                        ${{vm.widget3.currentDaySales}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">SALES</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">Monthly Sales To-Date:</span>
                                    <span class="h4 ml-8">${{vm.widget3.currentMonthSales}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / Today's Sales -->

                        <!-- Total Patients -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">Total Patients</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="blue-fg font-size-72 line-height-72">
                                        {{vm.widget3.totalCustomers}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">PATIENTS</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">Expiring This Month:</span>
                                    <span class="h4 ml-8">{{vm.widget3.totalExpirations}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / Total Patients -->

                        <!-- Drivers Working -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">Drivers Working</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="red-fg font-size-72 line-height-72">
                                        {{vm.widget3.driversWorking}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">DRIVERS</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">Drivers Off:</span>
                                    <span class="h4 ml-8">{{vm.widget3.driversOff}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / Drivers Working -->

                        <!-- Orders Completed Today-->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">Orders Completed Today</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="blue-grey-fg font-size-72 line-height-72">{{vm.widget3.ordersDelivered}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">ORDERS</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">Out for Delivery:</span>
                                    <span class="h4 ml-8">{{vm.widget3.ordersPendingDelivery}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / Orders Completed Today -->
                    </div>
                    <!-- / DASHBOARD WIDGET CARDS -->

                    <!-- BAR GRAPH GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- BAR GRAPH -->
                        <ms-widget layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                     layout-wrap>
                                    <div class="pv-8 h3">Sales Summary</div>
                                    
                                    <!-- Bar Graph Range Tab Buttons (maybe use later??) -->
                                    <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                         flex-sm="100">
                                        <md-button class="ph-16"
                                                   ng-repeat="(key, range) in vm.widget5.ranges"
                                                   ng-click="vm.widget5.changeRange(key)"
                                                   ng-disabled="vm.widget5.currentRange == key">
                                            {{range}}
                                        </md-button>
                                    </div>
                                </div>

                                <div layout="row" layout-align="start center" layout-wrap>
                                    <div class="p-16" layout="row" flex="100" flex-gt-sm="100">
                                        <nvd3 class="h-420 remove-x-lines"
                                              config="vm.widget5.mainChart.config"
                                              options="vm.widget5.mainChart.options"
                                              data="vm.widget5.mainChart.data">
                                        </nvd3>
                                    </div>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / BAR GRAPH -->
                    </div>
                    <!-- / BAR GRAPH GROUP -->
                </md-tab>

                <!-- PATIENTS -->
                <md-tab label="Patients">

                    <!-- PATIENT WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- PATIENT WIDGET 11 -->
                        <ms-widget layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">

                                <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                                    <div class="h2">Patients</div>    
                                    <div class="text-boxed red-bg white-fg m-0">{{vm.widget11.customers.length}}
                                        Patients Total
                                    </div>
                                    <md-button class="md-raised text-boxed blue-bg white-fg m-o hover" ng-click="addPatient()">Add Patient</md-button>
                                </div>

                                <table class="dataTable row-border hover" datatable="ng"
                                       dt-options="vm.widget11.dtOptions">
                                    <thead>
                                            <th></th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Name</span>
                                                </div>
                                            </th> 
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Address</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">City/Sate/Zip</span>
                                                </div>
                                            </th>   
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Email</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Phone</span>
                                                </div>
                                            </th>
                                    </thead>
                                    <tbody>
                                        <tr ui-sref="app.pages_profile_patient({patientId: vm.patientId })" ng-repeat="row in vm.widget11.customers">
                                            <td><img class="avatar" ng-if="$index === 0"
                                                     ng-src="assets/images/avatars/{{cell}}">
                                                <span ng-if="$index != 0">
                                                    {{cell}}
                                                </span>
                                            </td>
                                            <td>
                                                {{row.firstName}} {{row.lastName}}
                                            </td>
                                            <td>{{row.street}} {{row.unitNo}}</td>
                                            <td> 
                                                {{row.city}}, {{row.state}} {{row.zipCode}}
                                            </td>
                                            <td>{{row.email}}</td>
                                            <td>{{row.phone}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / PATIENT WIDGET 11 -->

                    </div>
                    <!-- / PATIENT WIDGET GROUP -->
                </md-tab>

                <!-- DRIVERS -->
                <md-tab label="Drivers">

                    <!-- DRIVERS WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- DRIVERS WIDGET 12 -->
                        <ms-widget layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">

                                <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                                    <div class="h2">Drivers</div>
                                    <div class="text-boxed red-bg white-fg m-0">{{vm.widget12.drivers.length}}
                                        Drivers Total
                                    </div>
                                    <md-button class="md-raised text-boxed blue-bg white-fg m-o hover" ng-click="vm.addDriver(newDriver)">Add Driver</md-button>
                                </div>

                                <table class="dataTable row-border hover" datatable="ng"
                                       dt-options="vm.widget11.dtOptions">
                                    <thead>
                                            <th></th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Name</span>
                                                </div>
                                            </th> 
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">DL #</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Make/Model</span>
                                                </div>
                                            </th>   
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Email</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Phone</span>
                                                </div>
                                            </th>
                                    </thead>
                                    <tbody>
                                        <tr ui-sref="app.pages_profile_driver({patientId: vm.patientId })" ng-repeat="row in vm.widget11.customers">
                                            <td><img class="avatar" ng-if="$index === 0"
                                                     ng-src="assets/images/avatars/{{cell}}">
                                                <span ng-if="$index != 0">
                                                    {{cell}}
                                                </span>
                                            </td>
                                            <td>
                                                {{row.firstName}} {{row.lastName}}
                                            </td>
                                            <td>{{row.driversLicense}}</td>
                                            <td> 
                                                {{row.vehicleMake}} {{row.vehicleModel}}
                                            </td>
                                            <td>{{row.email}}</td>
                                            <td>{{row.phone}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / DRIVERS WIDGET 12 -->

                    </div>
                    <!-- / DRIVER WIDGET GROUP -->
                </md-tab>

            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav"
                ms-scroll ms-sidenav-helper>

        <!-- SIDENAV GROUP -->
        <div class="widget-group">

            <!-- CALENDAR WIDGET -->
            <ms-widget flippable="false" class="sidenav-widget">

                <!-- Front -->
                <ms-widget-front>

                    <div class="pl-16 pr-8 pv-16" layout="row" layout-align="space-between center">
                        <div class="h3">{{vm.nowWidget.now.weekDay}},
                            {{vm.nowWidget.now.hour}}:{{vm.nowWidget.now.minute}}:{{vm.nowWidget.now.second}}
                        </div>  
<!--                         <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                                       md-menu-align-target
                                       aria-label="Options">
                                <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu> -->
                    </div>

                    <div class="p-16 pb-24" layout="column" layout-align="center center">
                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.month}}</span>
                        </div>

                        <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                            {{vm.nowWidget.now.day}}
                        </div>

                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.year}}</span>
                        </div>
                    </div>

                    <md-divider></md-divider>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / CALENDAR WIDGET -->


            <!-- WEATHER WIDGET -->
            <ms-widget flippable="false" class="sidenav-widget">

                <!-- Front -->
                <ms-widget-front>

                    <div class="pl-16 pr-8 pv-16" layout="row" layout-align="space-between center">
                        <div class="h4">
                            <md-icon md-font-icon="icon-map-marker" class="icon mr-8"></md-icon>
                            {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].name}}
                        </div>

<!--                         <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                                       md-menu-align-target
                                       aria-label="Options">
                                <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu> -->
                    </div>

                    <div class="p-16 pb-32" layout="column" layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-icon
                                    md-font-icon="{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].icon}}"
                                    class="icon s40 mr-16"></md-icon>
                            <span class="md-display-2 font-weight-300 secondary-text">
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].temp[vm.weatherWidget.tempUnit]}}
                            </span>
                            <span class="font-size-48 font-weight-300 hint-text text-super ml-8">&deg;</span>
                            <span class="md-display-2 font-weight-300 hint-text">{{vm.weatherWidget.tempUnit}}</span>
                        </div>
                    </div>

                    <div class="grey-300-bg p-16" layout="row" layout-align="space-between center">
                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-weather-windy" class="icon mr-8 s20"></md-icon>
                            <span>
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windSpeed[vm.weatherWidget.speedUnit]}}
                            </span>
                            <span class="secondary-text ml-5">{{vm.weatherWidget.speedUnit}}</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-compass-outline" class="icon mr-8 s20"></md-icon>
                            <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windDirection}}</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-umbrella" class="icon mr-8 s20"></md-icon>
                            <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].rainProbability}}</span>
                        </div>
                    </div>

                    <div class="pv-16">
                        <div class="pv-16 ph-24" layout="row" layout-align="space-between center"
                             ng-repeat="day in vm.weatherWidget.locations[vm.weatherWidget.currentLocation].next3Days">
                            <span class="h4">{{day.name}}</span>
                            <div layout="row" layout-align="start center">
                                <md-icon class="mr-16" md-font-icon="{{day.icon}}" class="icon"></md-icon>
                                <span class="h2">{{day.temp[vm.weatherWidget.tempUnit]}}</span>
                                <span class="h2 font-weight-300 secondary-text text-super">&deg;</span>
                                <span class="h2 font-weight-300 secondary-text">{{vm.weatherWidget.tempUnit}}</span>
                            </div>
                        </div>
                    </div>

                    <md-divider></md-divider>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WEATHER WIDGET -->

        </div>
        <!-- / WIDGET GROUP -->

    </md-sidenav>
    <!-- / SIDENAV -->

</div>