<div id="dashboard-project" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="md-display-1 font-weight-300">Admin User</span>
                </div>

                <div class="toolbar">
                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" 
                    hide-gt-md aria-label="Toggle sidenav">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <!-- SUMMARY TAB -->
                <md-tab label="Summary">

                    <!-- DASHBOARD WIDGET CARDS -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- Today's Sales -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" 
                        flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">Today's Sales</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="green-fg font-size-60 line-height-72">
                                        ${{vm.dashData.currentDaySales}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">SALES</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">Montly Sales To-Date:</span>
                                    <span class="h4 ml-8">${{vm.dashData.currentMonthSales}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / Today's Sales -->

                        <!-- Total Patients -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" 
                        flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">Total Patients</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="blue-fg font-size-72 line-height-72">
                                        {{vm.dashData.totalCustomers}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">PATIENTS</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">Expiring This Month:</span>
                                    <span class="h4 ml-8">{{vm.dashData.totalExpirations}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / Total Patients -->

                        <!-- Drivers Working -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" 
                        flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">Drivers Working</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="red-fg font-size-72 line-height-72">
                                        {{vm.dashData.driversWorking}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">DRIVERS</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">Drivers Off:</span>
                                    <span class="h4 ml-8">{{vm.dashData.driversOff}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / Drivers Working -->

                        <!-- Orders Completed Today-->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" 
                        flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">Orders Completed Today</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="blue-grey-fg font-size-72 line-height-72">{{vm.dashData.ordersDelivered}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">ORDERS</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">Out for Delivery:</span>
                                    <span class="h4 ml-8">{{vm.dashData.ordersPendingDelivery}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / Orders Completed Today -->
                    </div>
                    <!-- / DASHBOARD WIDGET CARDS -->

                    <!-- BAR GRAPH GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- BAR GRAPH -->
                        <ms-widget layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                     layout-wrap>
                                    <div class="pv-8 h3">Sales Summary</div>

                                    <!-- Bar Graph Range Tab Buttons -->
                                    <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                         flex-sm="100">
                                        <md-button class="ph-16"
                                                   ng-repeat="(key, range) in vm.salesCharts.ranges"
                                                   ng-click="vm.salesCharts.changeRange(key)"
                                                   ng-disabled="vm.salesCharts.currentRange == key">
                                            {{range}}
                                        </md-button>
                                    </div>
                                </div>

                                <div layout="row" layout-align="start center" layout-wrap>
                                    <div class="p-16" layout="row" flex="100" flex-gt-sm="100">
                                        <nvd3 class="h-420 remove-x-lines"
                                              config="vm.salesCharts.mainChart.config"
                                              options="vm.salesCharts.mainChart.options"
                                              data="vm.salesCharts.mainChart.data">
                                        </nvd3>
                                    </div>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->
                        </ms-widget>
                        <!-- / BAR GRAPH -->
                    </div>
                    <!-- / BAR GRAPH GROUP -->
                </md-tab>
            </md-tabs>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" 
    md-component-id="sidenav" ms-scroll ms-sidenav-helper>

        <!-- SIDENAV GROUP -->
        <div class="widget-group">

            <!-- CALENDAR WIDGET -->
            <ms-widget flippable="false" class="sidenav-widget">

                <!-- Day/Month/Year -->
                <ms-widget-front>

                    <div class="pl-16 pr-8 pv-16 grey-300-bg" layout="row" layout-align="space-between center">
                        <div class="h3">{{vm.nowWidget.now.weekDay}},
                            {{vm.nowWidget.now.hour}}:{{vm.nowWidget.now.minute}}:{{vm.nowWidget.now.second}}
                        </div>
                    </div>

                    <div class="p-16 pb-24 grey-300-bg" layout="column" layout-align="center center">
                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.month}}</span>
                        </div>

                        <div class="font-size-72 line-height-88 secondary-text font-weight-400" grey-300-bg>
                            {{vm.nowWidget.now.day}}
                        </div>

                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.year}}</span>
                        </div>
                    </div>

                    <md-divider></md-divider>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / CALENDAR WIDGET -->


            <!-- WEATHER WIDGET -->
            <ms-widget flippable="false" class="sidenav-widget">

                <!-- Front -->
                <ms-widget-front>

                    <div class="pl-16 pr-8 pv-16 grey-300-bg" layout="row" layout-align="space-between center">
                        <div class="h4">
                            <md-icon md-font-icon="icon-map-marker" class="icon mr-8"></md-icon>
                            {{ vm.dispensaryLocation.name }}
                        </div>
                    </div>

                    <div class="p-16 pb-32 grey-300-bg " layout="column" layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-icon
                                    md-font-icon="{{vm.dispensaryLocation.weather[0].icon}}"
                                    class="icon s40 mr-16"></md-icon>
                            <span class="md-display-1 font-weight-300 secondary-text">
                                {{vm.dispensaryLocation.weather[0].description}}
                            </span>
                            <span class="font-size-48 font-weight-300 hint-text text-super ml-8">&deg;</span>
                            <span class="md-display-2 font-weight-300 hint-text">
                                {{ (vm.dispensaryLocation.main.temp * 9/5) - 459.67 | number:0  }} 
                            </span>
                        </div>
                    </div>

                    <div class="grey-300-bg p-16 grey-300-bg" layout="row" layout-align="space-between center">
                        <div layout="row" layout-align="start center">
                            <img ng-src="http://openweathermap.org/img/w/{{vm.dispensaryLocation.weather[0].icon}}.png" class="icon mr-8 s20">
                            <span>
                            </span>
                            <span class="secondary-text ml-5">{{vm.dispensaryLocation.wind.speed}}</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-compass-outline" class="icon mr-8 s20"></md-icon>
                            <span>{{ vm.dispensaryLocation.wind.deg | number:0 }}&deg;</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-humidity" class="icon mr-8 s20"></md-icon>
                            <span>{{ vm.dispensaryLocation.rain }}</span>
                        </div>
                    </div>
                    
                    <md-divider></md-divider>

                </ms-widget-front>   <!-- / Front -->                
            </ms-widget> <!-- / WEATHER WIDGET -->
        </div> <!-- / WIDGET GROUP -->
    </md-sidenav> <!-- / SIDENAV -->
</div>