<div id="e-commerce-order" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-orders-button md-icon-button" aria-label="Back to all patients"
                       ng-click="vm.goToPatients()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="column" layout-align="start start">
                <div class="h2">
                    <span>
                        Patient Details
                    </span>
                </div>

                <div class="subtitle secondary-text">
                    <span>
                        {{ vm.customer.firstName }} 
                        {{ vm.customer.lastName }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout-phone="column" flex> 
        <md-tabs md-dynamic-height>
            <!-- Patient Details tab -->
            <md-tab>
                <md-tab-label>
                    <span>Patient Details</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="order-detail-form-container customer md-background-bg md-whiteframe-1dp">

                        <!-- General info -->
                        <div class="pb-16" layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-account" class="m-0 mr-16"></md-icon>
                            <div class="h2 secondary-text">General Info</div>
                        </div>
                       
                        <!-- General content -->
                        <md-content layout-padding="">
                            <!-- General card div -->
                            <div table-responsive-vertical class="customer">
                                <!-- General form -->
                                <form name="assignDriverForm">
                                    <div layout="row" layout-align="start center">
                                        <md-input-container class="md-block" flex>
                                          <label>First name</label>
                                          <input required ng-model="vm.customer.firstName">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex>
                                          <label>Last name</label>
                                          <input required ng-model="vm.customer.lastName">      
                                        </md-input-container>
                                    </div>
                                    <div layout="row" layout-align="start center">                         
                                        <md-input-container class="md-block" flex>
                                          <label>Gender</label>
                                          <input required ng-model="vm.customer.gender">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex>
                                          <label>Age</label>
                                          <input required ng-model="vm.customer.age">
                                        </md-input-container>
                                    </div>
                                    <div layout="row" layout-align="start center">  
                                        <md-input-container class="md-block" flex>
                                          <label>D.O.B.</label>
                                          <input required ng-model="vm.customer.dateOfBirth">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex>
                                          <label>D.L.#</label>
                                          <input required ng-model="vm.customer.driversLicense">
                                        </md-input-container>
                                    </div>                                                     
                                </form>   <!-- General form -->
                            </div>  <!-- General card div -->

                            <!-- Contact -->
                            <div class="order-detail-form-container status md-background-bg md-whiteframe-1dp">
                                <div class="pb-16" layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-phone" class="m-0 mr-16"></md-icon>
                                    <div class="h2 secondary-text">Contact</div>
                                </div>
                                <div layout="row" layout-align="center center">
                                    <md-input-container class="md-block" flex>
                                      <label>Phone</label>
                                      <input required ng-model="vm.customer.phone">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                      <label>Email</label>
                                      <input required ng-model="vm.customer.email">
                                    </md-input-container>
                                </div> 
                            </div>  <!-- Contact -->
                           
                            <!-- Address -->
                            <div class="order-detail-form-container status md-background-bg md-whiteframe-1dp">
                                <div class="pb-16" layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-home" class="m-0 mr-16"></md-icon>
                                    <div class="h2 secondary-text">Address(s)</div>
                                    <div flex></div>
                                    <!-- Add address button -->
                                    <md-button class="md-raised blue-bg white-fg m-o hover" 
                                                ng-click="vm.addAddress()" layout-align="end center">
                                        Add Address
                                    </md-button> 
                                </div>
                                <table class="simple" ms-responsive-table>
                                    <thead>
                                        <tr>
                                            <th>Street</th>
                                            <th>Apt/Unit#</th>
                                            <th>City/State/ZIP</th>
                                            <th>Notes</th>                                                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="address in vm.addresses">
                                            <td>
                                                <md-input-container class="md-block" flex>
                                                    <input required ng-model="vm.addresses.street">
                                                </md-input-container>
                                            </td>
                                            <td>
                                                <md-input-container class="md-block" flex>
                                                    <input required ng-model="vm.addresses.unitNo">
                                                </md-input-container>
                                            </td>
                                            <td>
                                                <md-input-container class="md-block" flex>
                                                    <input required ng-model="vm.addresses.city">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <input required ng-model="vm.addresses.state">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <input required ng-model="vm.addresses.zipCode">
                                                </md-input-container>                                       
                                            </td>
                                            <td>
                                                <md-input-container class="md-block" flex>
                                                    <input required ng-model="vm.addresses.deliveryNotes">
                                                </md-input-container>
                                            </td>                                                                                
                                        </tr>                               
                                    </tbody>
                                </table>   
                            </div>  <!-- Address -->
                      
                            <!-- Medical Info -->
                            <div class="order-detail-form-container status md-background-bg md-whiteframe-1dp">
                                <div class="pb-16" layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-account-box" class="m-0 mr-16"></md-icon>
                                    <div class="h2 secondary-text">Medical</div>
                                </div>
                                <div layout="row" layout-align="center center">
                                    <md-input-container class="md-block" flex>
                                      <label>Doctor Letter</label>
                                      <input required ng-model="vm.customer.doctorLetter">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                      <label>Medical Reason</label>
                                      <input required ng-model="vm.customer.medicalReason">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                      <label>MMIC ID#</label>
                                      <input required ng-model="vm.customer.doctorLetter">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                      <label>MMIC Exp.</label>
                                      <input required ng-model="vm.customer.medicalReason">
                                    </md-input-container>
                                </div>                    
                            </div>  <!-- Medical Info -->

                        </md-content>   <!-- Main content -->

                    </div>  <!-- Main card div -->
                </md-tab-body>
                
            </md-tab>   <!-- Patient Details tab -->
        </md-tabs>

    </div> <!-- / CONTENT -->
</div>  <!-- MAIN CONTENT DIV -->