<div id="edit-order" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-orders-button md-icon-button" aria-label="Go to orders"
                       ng-click="vm.gotoOrders()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="column" layout-align="start start">
                <div class="h2">
                    <span>Order #:</span>
                    <span>{{vm.newOrder.orderId}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>
            <!-- Order Details -->
            <md-tab>
                <md-tab-label>
                    <span>Order Details</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="order-detail-form-container customer md-background-bg md-whiteframe-1dp">
                        <div class="pb-16" layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-account" class="m-0 mr-16"></md-icon>
                            <div class="h2 secondary-text">Patient</div>
                        </div>

                        <div class="customer">
                            <table class="simple" ms-responsive-table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div layout="row" layout-align="start center">
                                                <span class="name text-nowrap">
                                                <input placeholder="Customer Name"></input></span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="email">{{vm.order.customerInfo.email}}</span>
                                        </td>
                                        <td>
                                            <span class="phone">{{vm.order.customerInfo.phone}}</span>
                                        </td>
                                        <td>
                                            <span class="quantity">{{vm.order.itemQuantity}} items</span>
                                        </td>
                                        <td>
                                            <span class="total">${{vm.order.totalCost}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>