<div id="e-commerce-order" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-orders-button md-icon-button" aria-label="Go to orders"
                       ng-click="vm.gotoOrders()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="column" layout-align="start start">
                <div class="h2">
                    <span>Order Number :</span>
                    <span>{{vm.order.orderId}}</span>
                </div>

                <div class="subtitle secondary-text">
                    <span>Patient :</span>
                    <span>{{vm.order.customerInfo.firstName}} {{vm.order.customerInfo.lastName}}</span>
                </div>
            </div>
        </div>
        <div class="search" layout="column" layout-align="end end" flex>
            <md-button class="md-raised text-boxed green-bg white-fg m-o hover" ui-sref="app.e-commerce.edit-order({order: vm.order})">Edit Order</md-button>     
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>
            <!-- Order Details -->
            <md-tab>
                <md-tab-label>
                    <span>Order Details</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="order-detail-form-container customer md-background-bg md-whiteframe-1dp">
                        <div class="pb-16" layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-account" class="m-0 mr-16"></md-icon>
                            <div class="h2 secondary-text">Patient</div>
                        </div>

                        <div class="customer">
                            <table class="simple" ms-responsive-table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div layout="row" layout-align="start center">
                                                <span class="name text-nowrap">{{vm.order.customerInfo.firstName}} {{vm.order.customerInfo.lastName}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="phone">{{vm.order.customerInfo.phone}}</span>
                                        </td>
                                        <td>
                                            <span class="quantity">{{vm.order.itemQuantity}} items</span>
                                        </td>
                                        <td>
                                            <span class="total">${{vm.order.totalOrderSale}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                    <!-- Products Ordered -->
                    <div class="order-detail-form-container status md-background-bg md-whiteframe-1dp">
                        <div class="pb-16" layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-cart" class="m-0 mr-16"></md-icon>
                            <div class="h2 secondary-text">Products Ordered</div>
                        </div>
                        <table class="simple" ms-responsive-table>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Name</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="category in vm.products">
                                <tr ng-repeat="product in category.items  | filter: searchKeyword">
                                    <td class="category">
                                        {{vm.product.category.title}}
                                    </td>
                                    <td class="name">
                                        {{vm.product.name}}
                                    </td>
                                    <td class="unit">
                                        {{vm.product.unit}}
                                    </td>
                                    <td class="price">
                                        {{vm.product.prices.price}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Update Status -->
                    </div>


                    <!-- Order Status -->
                    <div class="order-detail-form-container status md-background-bg md-whiteframe-1dp">
                        <div class="pb-16" layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-clock" class="m-0 mr-16"></md-icon>
                            <div class="h2 secondary-text">Delivery Status</div>
                        </div>
                        <table class="simple" ms-responsive-table>
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Order Date</th>
                                    <th>Driver</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="status" ng-bind-html="vm.getStatusText(vm.order.orderStatus)">
                                    </td>
                                    <td class="date">
                                        {{vm.order.orderDate | date:'h:mma on MM/dd/yy'}}
                                    </td>
                                    <td class="driver">
                                        <div layout="row" layout-align="start center">
                                            <span class="name text-nowrap">{{vm.driver.firstName}}  {{vm.driver.lastName}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Update Status -->
                        <div class="update-status" layout="row" layout-align="start center">
                            <md-input-container flex>
                                <label>Select a status</label>
                                <md-select ng-model="vm.order.orderStatus">
                                    <md-option ng-repeat="status in vm.statuses" ng-value="status.id" ng-bind-html="vm.getStatusText(status.id)">
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-button class="md-raised md-accent" ng-click="vm.updateStatus(vm.order)"
                                       ng-disabled="!vm.updateStatus">
                                Update Status
                            </md-button>
                        </div>
                    </div>
                            <!-- Google Map Address Tab -->
                            <md-tabs class="addresses">
                                <md-tab>
                                    <md-tab-label>
                                        <span>Delivery Address</span>
                                    </md-tab-label>
                                    <md-tab-body>
                                        <div class="address">{{vm.getAddressFromOrder(vm.order)}}</div>
                                        <ui-gmap-google-map center="vm.deliveryAddressMap.center"
                                                            zoom="vm.deliveryAddressMap.zoom">
                                            <ui-gmap-marker coords="vm.deliveryAddressMap.center"
                                                            idkey="vm.deliveryAddressMap.marker.id"></ui-gmap-marker>
                                        </ui-gmap-google-map>
                                    </md-tab-body>
                                </md-tab>
                            </md-tabs>

                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
<!-- 
            <md-tab>
                <md-tab-label>
                    <span translate="EC.PRODUCTS_ORDERED">Products Ordered</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="order-detail-form-container products md-background-bg md-whiteframe-1dp">
                        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                               dt-options="vm.dtOptions">
                            <thead>
                                <tr>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">ID</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Image</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Name</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Price</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Quantity</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Details</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in ::vm.order.products">
                                    <td>{{product.id}}</td>
                                    <td><img class="product-image" ng-src="{{product.image}}"></td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td>
                                        <md-button class="edit-button md-icon-button"
                                                   ng-click="vm.gotoProductDetail(product.id)"
                                                   aria-label="Product details"
                                                   translate translate-attr-aria-label="EC.PRODUCT_DETAILS">
                                            <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-tab-body>
            </md-tab> -->
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>